
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blue;
}



.menuItem {
    overflow: hidden;
}

.subMenu {
    transition: height 0.4s;
    height: 0;
}

h2{
    font-size: 10px;
    color: brown;
}