/*iconos footer*/
footer {
    text-align: center;
    background-color: $color-secundario;
    padding: 20px;

    .redes {
        display: flex;
        justify-content: center;
        align-items: center;

    
        .icono {
            font-size: 25px;
            padding: 10px;
            color: $color-principal;
    
            &:hover {
                transform: scale(1.5);
                transition: 0.5s;
            }
        }
    }
}