@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*general*/
ul {
    list-style-type: none;
}

body {
    background-color: $color-principal;
}

a {
    text-decoration: none;
    color: $color-secundario;
    font-size: 18px;
}

.logo img {
    height: 70px;
    margin: 20px;

    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
}

h5 {
    background-color: $color-secundario;
    color: $color-principal;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
}