/*contacto*/
.contacto{
    @include flex_alterno(column, center, center);
    gap: 20px;
    margin: 50px;

    h2{
        background-color: $color_secundario;
        color: $color_principal;
        padding: 20px;
        width: 600px;
        border-radius: 10px;
        text-align: center;
    }

    .form_contacto{
        @include flex_alterno(column, center, center);
        gap: 20px;
    }

    input,
    textarea {
        background-color: $color_principal;
        color: $color_secundario;
        padding: 10px;
        width: 600px;
        border-radius: 10px;
        border: 2px solid $color_secundario;
    }

    textarea{
        height: 250px;
    }
}

.btn_contacto:hover{
    color: $color_principal;
    background-color: $color_secundario;
} 