/*contacto*/
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px;

    h5{
        background-color: $color-secundario;
        color: $color-principal;
        padding: 20px;
        width: 600px;
        border-radius: 10px;
        text-align: center;
    }

    .form_contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    input,
    textarea {
        background-color: $color-principal;
        color: $color-secundario;
        padding: 10px;
        width: 600px;
        border-radius: 10px;
        border: 2px solid $color-secundario;
    }

    textarea{
        height: 250px;
    }
}

.btn_contacto:hover{
    color: $color-principal;
    background-color: $color-secundario;
} 