/*portada*/

/*index*/
.container_portada {
    display: flex;
    max-width: 100%;
    justify-content: center;
}
.carousel-item img {
    width: auto;
    height: 700px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}
.carousel_portada {
    border-radius: 10px;
    width: 80%;
    position: relative;
    margin: 45px;
    box-shadow: $boxshadow;
}
.carousel-caption {
    margin-bottom: 20px;
    text-align: center;
    color: $color-secundario;
    font-size: 18px;
    padding: 10px;
}
h5 {
    background-color: $color-secundario;
    color: $color-principal;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
}
.container_portada h5:hover {
    background-color: $color-principal;
    color: $color-secundario;
}
.carousel-caption p {
    background-color: rgba(240, 248, 255, 0.726);
    padding: 15px;
    text-align: justify;
    border-radius: 10px;
}

/*nosotros*/ 
.nosotros{
    text-align: center;
    background-color: $color-secundario;
    padding: 80px;
}
.nosotros article{
    display: inline-block;
    padding: 10px;
}
.nosotros_texto{
    width: 400px;
    height: 450px;
    overflow: auto;
    color: $color-principal;
    text-align: justify;
    background-color: $color-tercero;
}
.nosotros iframe{
    width: 800px;
    height: 450px;
}
.nosotros_texto h2{
    color: $color-secundario;
    background-color: $color-principal;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 10px;
    text-align: center;
}


/*top ventas*/
.top_ventas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
    gap: 40px;
}
.titulo_top_ventas{
    background-color: $color-secundario;
    color: $color-principal;
    padding: 10px;
    width: 600px;
    border-radius: 10px;
    text-align: center;
}
.top_ventas_productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}
.top_ventas_productos img{
    box-shadow: $boxshadow;
    border-radius: 10px;
}
.card{
    border: none;
    text-align: center;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card h5{
    color: $color-principal;
    padding: 10px 50px;
    margin-top: 20px;
}
.card h6 {
    color: $color-principal;
    background-color: $color-secundario;
    padding: 10px 15px;
    border-radius: 30%;
}
.card .btn{
    background-color: $color-secundario;
    color: $color-principal;
    padding: 10px 15px;
    border: 2px solid $color-principal;
}
