/*maderas*/
/*categorias*/
.categorias_maderas{
    text-align: center;
    padding: 60px;
    background-color: $color_secundario;

    &_titulo{
        background-color: $color_tercero;
        color: $color_principal;
        padding: 10px;
        width: 600px;
        border-radius: 10px;
        margin: 0px auto;
        margin-bottom: 40px;

        h3 {
            background-color: $color_tercero;
        }
    }

    &_card{
        @extend .flex;
        gap: 50px;
        background-color: $color_tercero;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        margin: 0 auto;

        
        .card_maderas{
            position: relative;
        }   

        img{
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: $boxshadow;
        }

        button{
            background-color: $color_secundario;
            color: $color_principal;
            padding: 10px 15px;
            border-radius: 10px;
            margin-top: 20px;
            position: absolute;
            z-index: 1;
            left: 35%;
            top: 65%;

            &:hover{
                background-color: $color_principal;
                color: $color_secundario;
            }
        }
    }
}



/*articulos de madera*/
.articulo{
    @include grid(4, 1fr);
    gap: 20px;
    padding: 50px 100px;

    &_madera{
        border-radius: 10px;
        border: 2px solid $color_secundario;
        @include flex_alterno(column, center, center);
        gap: 20px;
        padding: 20px;

        &:hover{
            background-color: $color_tercero;
            color: $color_principal;
        }

        img{
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: $boxshadow;
            margin: 0 auto;
        }

        &_texto{
            text-align: center;

            p{
                font-size: 18px;
            }

            button{
                background-color: $color_secundario;
                color: $color_principal;
                padding: 10px 15px;
                border-radius: 10px;
                margin-bottom: 10px;

                &:hover{
                    background-color: $color_principal;
                    color: $color_secundario;
                }
            }

            .precio{
                font-size: 22px;
                background-color: #d31d1d;
                color: $color_principal;
                width: 50px;
                margin: 0 auto;
                border-radius: 10px;
            }
        } 
    }
}



.paginas_maderas{
    @extend .flex;
    text-align: center;
    gap: 5px;
    font-size: 22px;
    margin: 20px;

    a{
        color: $color_secundario;
        border: 2px solid $color_secundario;
        padding: 10px;

        &:hover{
            transform: scale(1.1);
        }
    }

    @for $i from 1 through 11 {
        $btn-color: darken($color_principal, 9.09% * ($i - 1));
        .btn_#{$i}{
            background-color: $btn-color;
            color: lighten($color_secundario, 10% * ($i - 1));

            @if $i == 6 {
                color: $color_secundario;
            }
        }
    }
}
