/*responsive*/

/*navbar*/
@media (max-width: 1024px) {
    nav .buscar,
    nav .nav_list{
        display: none;
    }
    .navbar_hamburguesa{
        display: block;
        margin: 0px 40px 0px; 
    }
    .navbar-toggler {
        font-size: 25px;
    }
}



/*index*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nosotros_texto{
        width: 100%;
    }
    .nosotros iframe{
        max-width: 100%;
    }
    .top_ventas_productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nosotros_texto,
    .top_ventas_productos{
        font-size: 16px;
    }
    .titulo_top_ventas {
        width: 100%;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px){
    .texto_portada p{
        display: none;
    }
    .logo img {
        height: 20px;
        margin: 10px;
        align-content: center;
    }
    .nav {
        align-content: center;
    }
    .navbar_hamburguesa {
        margin: 5px;
    }
    .navbar-toggler {
        font-size: 10px;
    }
    .carousel-item img {
        height: 300px;
    }
    .container_portada {
        padding: 0px;
    }
    .nosotros {
        padding: 10px;
    }
    .nosotros article {
        height: 300px;
        width: 100%;
    }
    .nosotros iframe {
        height: 100%;
        width: 100%;
    }
    .nosotros p {
        font-size: 12px;
    }
    .titulo_top_ventas {
        width: 100%;
    }
    .top_ventas_productos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .icono i {
        font-size: 10px;
        text-align: center;
    }
    footer {
    padding: 5px;
    }
}


/*electrico*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .texto_portada_categoria,
    .texto_portada_categoria h5{
        width: 80%;
        font-size: 16px;
        left: 18%;
        top: 55%;
    }
    .texto_portada_categoria p{
        display: none;
    }
    .servicio_elect{
        flex-direction: column;
        align-items: center;
    }
    .servicio_elect_invertido{
        flex-direction: column-reverse;
    }
    .servicio_elect button{
        position: static;
        margin: auto;
    }
    .texto_servicio_elect{
        max-width: 100%;
        text-align: center;
        padding: 10px 0px 30px 0px;
    }	
    .servicio_elect{
        width: 70%;
        gap: 0px;
    }
    .servicio_elect img,
    .texto_servicio_elect{
        width: 100%;
        margin: 10px auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .portada_categoria img {
        height: 300px;
        margin: 45px 0px;
    }
    .servicio_elect img {
        width: 100%;
        margin: 0px;
    }
    .texto_portada_categoria p {
        display: none;
    }
    .texto_portada_categoria {
        top: 35%;
        left: 42%;
    }
    .servicio_elect {
        width: 95%;
        flex-direction: column;
        padding: 0px;
        margin: 5px;
        gap: 20px;
    }
    .texto_servicio_elect {
        height: 350px;
        font-size: 12px;
        overflow: auto;
    }
    .servicio_elect p {
        height: 100vh;
    }
    .servicio_elect button {
        display: none;
    }
    .servicio_elect_invertido{
        flex-direction: column-reverse;
    }
}







/*maderas*/
@media (max-width: 1200px) {
    .articulos{
        grid-template-columns: repeat(3, 1fr);
        padding: 10px 2px;
    }
}
@media (max-width: 1024px) {
    .articulos{
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 2px;
    }
    .card_cat_maderas{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        width: 90%;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px){
    .articulos{
        grid-template-columns: repeat(1, 1fr);
    }.card_cat_maderas {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 95vw;
        padding: 0px;
        margin: 0 auto;
    }
    .categorias_maderas {
        padding: 0px;
        align-items: center;
    }
    .titulo_cat_maderas {
        width: 100vw;
    }
    .articulos, 
    .articulo_madera {
        padding: 10px 2px;
    }
    .articulo_madera img {
        width: 80%;
        height: 40%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: $boxshadow;
        margin: 0 auto;
    }
}



/*quimicos*/
@media (max-width: 1024px) {
    .portada_quimicos{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        justify-content: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .servicios_quimicos img,
    .productos_quimicos img{
        width: 90vw;
        height: 350px;
    }
    .servicios_quimicos h5,
    .productos_quimicos h5{
        width: 100%;
        font-size: 18px;
        padding: 15px;
    }
}


/*contacto*/
@media screen and (min-width: 320px) and (max-width: 768px){
    .form_contacto input, 
    .form_contacto textarea,
    .contacto h5 {
        width: 95vw;
    }
}